#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


form {
  display: flex;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

input {
  padding-block: 11px;
  padding-left: 15px;
  padding-right: 249px;
  border-right: none;
  border: none;
  background-color: #F1ECE6;
  border-radius: 15px 0px 0px 15px;
  font-size: 15px;


}


.submit {
  padding: 11px 15px;
  border-radius: 0px 15px 15px 0px;
  background-color: #76B7CD;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.todoList {
  width: 100%;
  display: flex;
  margin-top: 40px;
  background-color: #F1ECE6;
  flex-direction: column;
  padding-block: 15px;
  border-radius: 15px;
}

.todoListDeneme {
  display: none;
}

.todos {
  padding-block: 10px;
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #76B7CD;
}

.btns {
  display: flex;
}

.btn {
  background-color: transparent;
  color: #e5aa6a;
}

input[type="text"]:focus {
  outline: none;
}

li {
  list-style-type: none;
}

.active {
  opacity: 0.5;
  text-decoration: line-through;
}

.todoLogo {
  margin-bottom: 40px;
}



@media (width <=600px) {

  input {
    padding-right: 70px;
  }

  .todoList {
    padding-block: 10px;
    margin-top: 20px;
  }

  .todos {
    flex-direction: row;
  }
}